.sidebar {
    display: block;
    height: 100%;
    width: 20%;
    float: left;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #bac3d1;
    overflow-x: hidden; /* Disable horizontal scroll */
    border-right: 1px solid;
    border-color: #5e5e5e;
}

.sidebar-table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar-button {
    height: 50px;
    font-size: 14pt;
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: #5e5e5e;
}

.sidebar-button:hover {
    background-color: #edf1f7;
}

.footer-message {
    bottom: 1;
}
