.fixed-header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    background-color: #303030;
    color: #f2f2f2;
    top: 0;
    z-index: 1;
}

.initials {
    margin-left: 10px;
    display: inline-block;
    font-family: Courier;
    line-height: var(--header-height);
    font-size: 24pt;
    cursor: pointer
}

.header-links-item {
    float: right;
    font-family: Arial;
    height: var(--header-height);
    line-height: var(--header-height); /* Vertically aligns text */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

.header-links-item:hover {
    color: #303030;
    background-color: #f2f2f2;
    cursor: pointer;
}
