.fixed-header {
    width: 100%;
    position: relative;
    padding: 0 0;
    background-image: linear-gradient(to right, #8c99ad, #c3d2e8);
    color: #000000;
    top: 0;
    border-bottom: 1.5px solid;
}

.container {
    width: 96%;
    margin-left: 1em;
}

.header-item {
    display: inline-block;
    vertical-align: middle;
}

.header-links-item {
    width: 6em;
    float: right;
    padding-top: 22px;
}

.header-image {
    padding-right: 4px;
}
