.about-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.about-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.profile-pic-container {
    margin: 20px;
}

.profile-pic {
    width: 100%;
}

.about-text {
    position: relative;
    margin: 20px;
    font-size: 14pt;
    text-align: justify;
    color: #303030;
}

@media (max-width: 850px) {
    .about-column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 512px) {
    .about-text {
        font-size: 12pt;
    }
}