:root {
    --header-height: 60px;
}

.off-white-background {
    background-color: #efefef;
}

.responsive-container {
    position: relative;
    width: 90%;
    margin: auto;
}

.section-title {
    color: #303030;
    font-family: Courier;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30pt;
    font-weight: bolder;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media(max-width: 512px) {
    .section-title {
        font-size: 20pt !important;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}