:root {
    --header-height: 60px;
}

.responsive-container {
    position: relative;
    width: 80%;
    margin: auto;
}

@media (max-width: 800px) {
    .responsive-container {
        width: 96%;
    }
}