:root {
    --content-padding: 20px;
}

.project-image {
    cursor: pointer;
    width: 100%;
}

.project-card {
    position: relative;
    margin: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #303030;
}

.info-box {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f7f7f7;
    color: #303030;
    position: absolute;
    padding: var(--content-padding);
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.project-intro {
    padding: var(--content-padding);
    height: 100px;
}

.project-intro .blurb {
    clear: both;
    padding-top: 10px;
    font-size: 14pt;
}

.horizontal-title-container {
    height: 25px;
    line-height: 25px;
    padding-bottom: 10px;
}

.see-more-button {
    float: right;
}

.close-button {
    float: right;
    padding-top: 2.5px;
}

.main-title {
    font-size: 16pt;
    font-family: Courier;
    font-weight: bold;
    color: #303030;
}

.horizontal-button-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.link-button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    background-color: #145ac9;
    padding: .4em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    font-size: 14pt;
    text-decoration: none;
    border: none;
}

.underlined {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

@media(max-width: 512px) {
    .project-intro .blurb {
        font-size: 12pt !important;
        padding-top: 0;
    }

    .link-button {
        font-size: 11pt;
    }

    .horizontal-button-container {
        padding-bottom: 15px;
    }

    .info-box {
        padding: 10px;
    }
}