.projects-container {
    font-family: Arial;
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.project-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

@media (max-width: 850px) {
    .project-column {
        flex: 100%;
        max-width: 100%;
    }
}